@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  font-family: Poppins, sans-serif;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  margin-top: 30px;
  min-height: 80vh;
}

.site-title {
  float: left;
  margin-right: 20px;
  height: 50px;
}

.site-title * {
  color: white;
}

.shadow {
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  -moz-box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

#site-main-content {
  padding: 0 50px;
  min-height: 85vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #site-main-content {
    padding: 0 0;
  }
}
